@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgb(0, 51, 102);
    margin: 0;
    padding: 0;
    

   
}

.title { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}



button {
    border-radius: 10%;
    background-color:rgb(214, 197, 235);
    color: white;
    text-align: center;
}

.navbarHeader li {
   list-style-type: none;
   display: inline-block;
   padding: 0 20px;


}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 2px 12px #9e1919;
    flex-wrap: nowrap;
    background-color: orange;
}

.titleNavBar {
    padding-right: 60%;
}

header, .telNummer a:hover {
    color: #b2dfdb;
    text-decoration: none;
}

a {
    text-decoration: none;
}


.containerDays {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    margin-top: 14rem;
    height: 166px;
}

#countMoney, #countDagen {
    border: 1px solid black;
    border-radius: 40%;
    padding: 3px
}


.containerFooter {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 21rem;
    background-color: orange

}

